<%- include("header",{type:'create'}) %>
    <div class="about" style="text-align: center">
        <h4>
            本站是一个个人博客网站，致力于打造一个移动WEB开发社区。<br>
            在这里，您可以浏览其他的技术博客，同时可以评论，如果遇上好的文章，记得为他们点赞哦。<br>
            同时，如果也欢迎您来我们社区中发表自己的文章。<br>
        </h4>
    </div>
<% include footer %>