<%- include("header",{type:'create'}) %>
    <div class="contaction" style="text-align: center">
        <p>如果您对本站有兴趣，欢迎联系我们。</p>
        <p>电话：13710******</p>
        <p>邮箱：13710******@163.com</p>
        <p>地址：<a href="map">广州市番禺区大学城广东工业大学</a></p>
    </div>
<% include footer %>