	<br><br><br><br>
	<div class="footer" style="text-align: center">
		<div>
			<audio controls="controls" loop="loop">
				<source src="/music/music.mp3">
				<p>浏览器不支持，请更换为谷歌浏览器。</p>
			</audio>
		</div>
		<a href="/about">关于本站</a>
		&nbsp;&nbsp;
		<a href="/contaction">联系我们</a>
	</div>
	
	</body>
</html>